@import '../../../../../style/breakPoints.scss';

.DrawerToggle {
  width: 40px;
  height: 75%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
  cursor: pointer;
  & > div {
    width: 90%;
    height: 4px;
    background-color: white;
  }
}

@media only screen and (min-width: $min-md) {
  .DrawerToggle {
    display: none;
  }
}
